<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
	<form method="POST" class = "post-form" action = "/emp/">
		{% csrf_token %}
		<div class="container">
			<br>
			<div class = "form-group row">
				<level class = "col-sm-1 col-form-level"></level>
				<div class="col-sm-4">
					<h3>Enter Details</h3>	
				</div>	
			</div>	
			<div class = "form-group row">
				<level class = "col-sm-2 col-form-level">Employee Id:</level>
				<div class="col-sm-4">
					{{ form.eid }}
				</div>
			</div>
			<div class = "form-group row">
				<level class = "col-sm-2 col-form-level">Employee Name:</level>
				<div class="col-sm-4">
					{{ form.ename }}
				</div>
			</div>
			<div class = "form-group row">
				<level class = "col-sm-2 col-form-level">Employee Email:</level>
				<div class="col-sm-4">
					{{ form.eemail }}
				</div>
			</div>
			<div class = "form-group row">
				<level class = "col-sm-2 col-form-level">Employee Contact:</level>
				<div class="col-sm-4">
					{{ form.econtact }}
				</div>
			</div>

			<div class = "form-group row">
				<level class = "col-sm-1 col-form-level"></level>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary">Submit</button>

				</div>
			</div>

		</div>
	
	</form>
</body>
</html>